/*----------------- destination section Start--------------- */
.container{
    margin-top: 80px ;
    margin-bottom: 80px ;
}

.destination-caption hr {
    width: 35%;
    margin: 1rem auto;
}

.row-second {
    margin-top: 40px;
}
/*----------------- destination section End--------------- */
