<p>payment-failed works!</p>
<section id="payment-failed">
  <div class="container mt-5 d-flex justify-content-center align-items-center">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-4 col-md-6 order-md-1 order-sm-2">
        <div
          class="ticket shadow p-3 bg-body rounded d-flex justify-content-center"
        >
          <div>
            <div class="d-flex justify-content-center">
              <div
                class="circle d-flex justify-content-center align-items-center"
              >
                X
              </div>
            </div>

            <div class="mt-2">
              <h2 class="text-center">SORRY !</h2>
              <h4 class="text-center">Payment Failed</h4>
              <p class="text-center">----------------------------</p>
            </div>

            <div class="mt-2">
              <a routerLink="/"
                ><button class="btn w-100 fw-bold">Go to home</button></a
              >
              <a routerLink="/"
                ><button class="btn-outline w-100 mt-2 fw-bold">
                  Go to your profile
                </button></a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-8 order-md-2 order-sm-1 d-flex justify-content-center">
        <div class="fail-img"></div>
        <img
          class="w-75"
          src="../../../assets/Images/paymentFailed/AvoidingSPAM_FI.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
