#login {
  margin-top: 100px;
}

.form-control {
  border: none;
  border-bottom: 1px solid var(--lightgray-color);
  border-radius: 0px;
}

.form-control:focus {
  box-shadow: 0 0 0 0.1rem var(--black-color);
}

.brdr {
  border: 1px solid var(--lightgray-color);
}

.login-img img {
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  min-height: 450px !important;
}

.form-parg {
  position: relative;
  color: var(--black-color);
}

.form-parg::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  top: 50%;
  right: 24%;
  background-color: var(--lightgray-color);
  display: block;
}

.form-parg::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  top: 50%;
  left: 24%;
  background-color: var(--lightgray-color);
  display: block;
}

.login-img {
  object-fit: cover;
}

.alert {
  padding: 0.6rem 0.75rem;
}

input {
  margin-top: 2.6rem;
}
@media (max-width: 768px) {
  .login-img img {
    display: none;
  }
  input {
    margin-top: 2.2rem;
  }
}
@media (max-width: 413px) {
  .form-parg {
    display: none;
  }
}
